.classpath
.project
.settings/
.vscode/
target/
graphs/*/
results/completegraph-1000/bfs.dd
results/completegraph-1000/bfs.png
results/completegraph-1000/completegraph-1000-bfs.dd
results/completegraph-1000/completegraph-1000-bfs.png
results/completegraph-1000/completegraph-1000-hyperball.dd
results/completegraph-1000/completegraph-1000-hyperball.png
results/completegraph-1000/hyperball.dd
results/completegraph-1000/hyperball.png
results/dblp-2010/dblp-2010-hyperball.dd
results/dblp-2010/dblp-2010-hyperball.png
results/dblp-2010/hyperball.dd
results/dblp-2010/hyperball.png
results/erdosrenyi-1000-80/bfs.dd
results/erdosrenyi-1000-80/bfs.png
results/erdosrenyi-1000-80/hyperball.dd
results/erdosrenyi-1000-80/hyperball.png
results/hollywood-2009/hollywood-2009-hyperball.dd
results/hollywood-2009/hollywood-2009-hyperball.png
results/hollywood-2009/hyperball.dd
results/hollywood-2009/hyperball.png
results/wordassociation-2011/bfs.dd
results/wordassociation-2011/bfs.png
results/wordassociation-2011/hyperball.dd
results/wordassociation-2011/hyperball.png
results/wordassociation-2011/wordassociation-2011-bfs.dd
results/wordassociation-2011/wordassociation-2011-bfs.png
results/wordassociation-2011/wordassociation-2011-hyperball.dd
results/wordassociation-2011/wordassociation-2011-hyperball.png
results/completegraph-1000/completegraph-1000-bfs.dd
results/completegraph-1000/completegraph-1000-bfs.png
results/completegraph-1000/completegraph-1000-hyperball.dd
results/completegraph-1000/completegraph-1000-hyperball.png
results/dblp-2010/dblp-2010-hyperball.dd
results/dblp-2010/dblp-2010-hyperball.png
results/hollywood-2009/hollywood-2009-hyperball.dd
results/hollywood-2009/hollywood-2009-hyperball.png
results/wordassociation-2011/wordassociation-2011-bfs.dd
results/wordassociation-2011/wordassociation-2011-bfs.png
results/wordassociation-2011/wordassociation-2011-hyperball.dd
results/wordassociation-2011/wordassociation-2011-hyperball.png
